body{
    background: url(../images/background.png)repeat fixed center center #222222;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.headding{
    font-family: "Montserrat",sans-serif;
    word-spacing: 10px;
    font-weight: 700;
    font-size: 50px;
    color: #E8F8F5;
    text-align: center;
}

.subheadding{
    font-family: "Montserrat",sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #B6B3B3;
    position: relative;
    left: 163px;
    top: -30px;
    text-align: center;
}
.content-div
{
    width: 70%;
    text-align: left;
    /*background-color: #E8F8F5;*/
    margin: 0 auto;
    padding: 15px;
}
.social-div
{
    text-align: right;
    position: relative;
    bottom: 1px;
    right: 15px;
}

p{
    font-family: monospace;
    letter-spacing: 0px;
}

a:visited {color:#fff;}
a:hover {color:#34495E;}
a:active {color:#fff;}



/*hr{
    border-bottom: 3px solid #000;
}

h1 {
    background: #333;
    color: #fff;
    background-image: linear-gradient(57deg, transparent 20%, rgba(0,0,0,.2) 0%, rgba(0,0,0,.2) 79%, transparent 0%);
    z-index: -1;
    padding: 20px;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    margin:0;
    margin-top: 0px;
}
.htwo {
    color: #fff;
    z-index: -1;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    margin:0;
    margin-top: 0px;
}

.hthree {
    color: #B6B3B3;
    z-index: -1;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin:0;
    margin-top: 0px;
}

li{
    font-family: monospace;
    letter-spacing: -1px;
}
.content {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background:#fff;
    color: #555;
    border-bottom:1px solid #ddd;
    padding-right:20px;
    padding-left:20px;padding-bottom:20px;
}

pre {
    background-color:white;
    background-image:-webkit-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:-moz-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:-ms-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:-o-linear-gradient(top, #f5f5f5 50%, white 50%);
    background-image:linear-gradient(top, #f5f5f5 50%, white 50%);
    -webkit-background-size:30px 30px;
    -moz-background-size:30px 30px;
    -ms-background-size:30px 30px;
    -o-background-size:30px 30px;
    background-size:30px 30px;
    background-repeat:repeat;
    font:bold 12px/15px "Inconsolata","Monaco","Consolas","Andale Mono","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    color:#333;
    border:2px solid #666;
    position:relative;
    padding:0 7px;
    margin:10px 0;
    overflow:auto;
    word-wrap:normal;
    white-space:pre;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
    position:relative;
}

pre[data-codetype] {
    padding:29px 1em 7px 1em;
}

pre[data-codetype]:before {
    content:attr(data-codetype);
    display:block;
    position:absolute;
    top:0;
    right:0;
    width: 111%;
    left:0;
    background-color:#666;
    padding:0 7px;
    font:bold 11px/20px Arial,Sans-Serif;
    color:white;
}

pre[data-codetype="HTML"]{
    border-color:#1ABC9C;
    color:#08464B;
}


pre[data-codetype="HTML"]:before {
    background-color:#1ABC9C;
}

ul{
    text-transform: capitalize;
}*/
